.card-content-heart:hover .default-icon {
  transform: scaleX(0);
  animation: fadeOut ease 2000ms;
  display: none;
}
.card-content-heart:hover .selected-icon {
  display: unset;
  transform: scale(1);
  animation: fadeIn ease 2000ms;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.card-plat:hover .card-plat-price {
  width: 17vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4vw 4vw;
  transform: translateX(0);
}
.card-plat:hover .card-plat-checked {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 4vw;
  display: flex;
  overflow: hidden;
  transform: translateX(0vw);
}
.card-plat:hover .card-plat-checked .icon {
  transform: rotate(360deg);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.header-logo-arrow-back {
  margin-left: 3vw;
  text-decoration: none;
}

.block-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
  margin-top: 1vw;
}
.block-button .btn {
  border: none;
  text-decoration: none;
  padding: 4vw;
  border-radius: 50px;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  color: white;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.block-button .btn:hover {
  background: linear-gradient(352deg, #9e67e0, #ff8de0);
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.7);
}

.selected-icon {
  display: none;
  color: #FF79DA;
}

body {
  font-family: "roboto", sans-serif;
}

.restaurant-name, .app-name {
  font-family: "shrikhand", sans-serif;
}

.section-title {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.description {
  font-family: "roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

.header-home {
  display: flex;
  padding: 4vw;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
}
.header-home-logo {
  width: 50%;
}
.header-pages {
  display: flex;
  padding: 4vw;
  margin-bottom: 3px;
  align-items: center;
  justify-content: space-between;
}
.header-pages-logo {
  width: 50%;
  transform: translate(-50%);
}
.header-search {
  display: flex;
  justify-content: center;
  padding: 3vw;
  background-color: #EAEAEA;
}
.header-search-icon {
  color: #404040;
  font-size: 1.3rem;
  align-self: center;
}
.header-search-input {
  border: none;
  margin-left: 3vw;
  height: 6vw;
  background-color: #EAEAEA;
  background-color: #eaeaea;
  color: #333333;
  font-size: 1rem;
  font-weight: 500;
}
.header-search-input::placeholder {
  background-color: #eaeaea;
  color: #333333;
  font-size: 1rem;
  font-weight: 500;
}
.header-search-input:focus {
  background-color: #eaeaea;
  color: #333333;
  font-size: 1rem;
  font-weight: 500;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 6vw;
  display: flex;
  flex-direction: column;
}
.footer-links {
  color: white;
  text-decoration: none;
  margin-bottom: 2.5vw;
}

.app-name {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 5vw;
}

.icone-footer {
  margin-right: 3vw;
}

.section {
  padding: 10vw 5vw;
}
.section-presentation {
  background-color: #f6f6f6;
  text-align: center;
}
.section-restaurant {
  background-color: #f6f6f6;
}
.section-title {
  margin-bottom: 7vw;
}
.section-title::first-letter {
  text-transform: capitalize;
}
.section-description {
  text-align: center;
  margin: 4vw 0vw 9vw;
}

.title-presentation {
  margin: 0vw 12vw;
}

.operation {
  border-radius: 20px;
  display: flex;
  align-items: baseline;
  margin-bottom: 7vw;
  margin-left: 3vw;
  padding: 6vw 0vw;
  background-color: #f6f6f6;
}
.operation:hover {
  background-color: #f4eefc;
}
.operation:hover .operation-icon {
  color: #9356DC;
}
.operation-sort {
  width: 6vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #9356DC;
  color: white;
}
.operation-icon {
  font-size: 1.3em;
  margin-left: 4vw;
  margin-right: 6vw;
  color: #595959;
}
.operation-content {
  font-size: 1em;
}
.operation-content::first-letter {
  text-transform: capitalize;
}

.card {
  height: 66vw;
  width: 90vw;
  border-radius: 5vw;
  background-color: white;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 5vw;
}
.card-img {
  width: 90vw;
  height: 45vw;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}
.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 15vw;
  margin: 2vw 3vw;
}
.card-content-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1vw 0;
}
.card-content-location {
  font-size: 1.1rem;
  font-weight: 300;
}
.card-content-heart {
  padding-top: 3vw;
  padding-right: 4vw;
  font-size: 1.5rem;
  color: #5b5b5b;
}

.restaurants-link {
  text-decoration: none;
  color: black;
}

.new-tag {
  background: #99E2D0;
  padding: 2vw 4vw;
  position: relative;
  top: -59vw;
  left: 60vw;
  font-weight: 500;
  color: #278870;
}

.header-logo-arrow-back {
  color: black;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 8vw 6vw;
  transform: translateY(-14vw);
  margin-bottom: -14vw;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-name {
  font-weight: lighter;
  font-size: 2.1rem;
}

.title {
  font-size: 1.7rem;
}

.restaurant-heart {
  padding-top: unset;
}

.plat-title {
  text-transform: uppercase;
  margin: 8vw 0 3vw 0;
}
.plat-title h2 {
  font-weight: 300;
}
.plat-title h2::after {
  content: "";
  border-bottom: 3px solid #99e2d0;
  display: block;
  padding-top: 2vw;
  width: 11vw;
}

.card-plat {
  border-radius: 5vw;
  background-color: white;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.35);
  margin-bottom: 5vw;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.card-plat-description {
  width: 66vw;
  padding: 4vw 0 3vw 4vw;
  overflow: hidden;
}
.card-plat-title {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 2vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plat-accompaniment {
  font-weight: 200;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plat-price {
  width: 17vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4vw 4vw;
  font-weight: 500;
  transform: translateX(8vw);
  transition: all 1000ms;
}
.card-plat-checked {
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 4vw;
  font-size: 1.4rem;
  color: white;
  background-color: #99E2D0;
  transform: translateX(17vw);
  transform: scale(0vw);
  transition: all 1000ms;
}
.card-plat-checked .icon {
  transform: rotate(0deg);
  transition: all 1000ms 320ms;
}

/*# sourceMappingURL=style.css.map */
