.header-logo-arrow-back {
    margin-left: 3vw;
    text-decoration: none;
    color: black;
    position: absolute;
    @include tablet-only {
        font-size: 1.5rem;
    }
}

.block-button {
    @include block-button;
    & .btn {
        @include btn;
    }   
}

.selected-icon {
    display: none;
    color: $color-secondary;
}
