body {
    font-family: 'roboto', sans-serif;
}

.restaurant-name, .app-name {
    font-family: 'shrikhand', sans-serif;
}

.section-title {
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.description {
    font-family: 'roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;   
}