
.header {
    &-home {
        @include header-display;
        justify-content: center;
        box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.4);
        &-logo {
            @include logo-width;
        }
    }
    &-pages {
        @include header-display;
        justify-content: space-between;
        &-logo {
            @include logo-width;
            margin: auto;
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vw;
        background-color: #EAEAEA;
        &-icon {
            color: lighten($color: $text-color, $amount: 25%);
            font-size: 1.3rem;
            align-self: center;
        }
    }
    &-search-input {
        border: none;
        margin-left: 3vw;
        height: 6vw;
        background-color: #EAEAEA;
        @include text-input;
        &::placeholder {
            padding-left: 2vw;
            @include text-input;
        }
        &:focus {
            @include text-input;
        }
    }
    @include tablet-only {
        &-search {
            width: 40vw;
            height: 7vw;
            border-radius: 15px;
            justify-content: space-between;
            position: absolute;
            top: 2.5vw;
            right: 4vw;
        }
        &-search-input {
            width: 30vw;
            margin-left: 0;
        }
    }
    @include desktop-only {
        &-search {
            padding: 2vw;
            height: 5vw;
            top: 3vw;
        }
        &-search-input {
            height: 4vw;
        }
    }
    @include large-desktop-only {
        &-search {
            width: 22vw;
            height: 3vw;
            padding: 0;
            padding-left: 1vw;
            justify-content: unset;
            top: 1.5vw;
        }
        &-search-input {
            width: 16vw;
            height: 2vw;
            margin-left: 1vw;
            &::placeholder {
                padding-left: 0;
            }
        }
    }
    
}

