.container-global {
    @include large-desktop-only {
        padding: 0 10vw;
        background-color: $color-background;
    }
}

.picture-resto {
    @include desktop-only {
        height: 38vw;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    @include large-desktop-only {
        height: 33vw;
        &-center {
            object-position: center;
        }
    }
}

.menu {
    background-color: $color-background;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 8vw 6vw;
    transform: translateY(-14vw);
    margin-bottom: -14vw;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8vw;
    }
    @include tablet-only {
        padding: 4vw 6vw 7vw;
        &-header {
            margin-bottom: 4vw;
        }
    }
    @include large-desktop-only {
        padding: 3vw 3vw 4vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &-header {
            margin-bottom: 2vw;
        }
    }
}

.title {
    font-size: 1.7rem;
    @include tablet-only {
        font-size: 2.5rem;
    }
}

.restaurant-heart {
    padding-top: unset;
}

.sections-plats {
    @include tablet-only {
        margin-bottom: 4vw;
    }
}

.plat {
    margin-bottom: 10vw;
    &-title {
        text-transform: uppercase;
        margin-bottom: 3vw;
        & h2 {
            font-weight: 300;
            &::after {
                content: "";
                border-bottom: 3px solid #99e2d0;
                display: block;
                padding-top: 2vw;
                width: 11vw;
            }
        }
    }
    @include tablet-only {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2vw;
        &-title {
            margin: 1vw 0 2vw 0;
        }
    }
    @include large-desktop-only {
        &-title {
            margin-bottom: 1vw;
            & h2 {
                &::after {
                    padding-top: 0.5vw;
                    width: 3vw;
                }
            }
        }
    }
}

.card-plat {
    @include card;
    display: flex;
    white-space: nowrap;
    &-description {
        width: 66vw;
        padding: 4vw 0 3vw 4vw;
        overflow: hidden;
    }
    &-title {
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 2vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-accompaniment {
        font-weight: 200;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-price {
        @include price-and-checked-position(17vw, flex-end);
        font-weight: 500;
        padding: 4vw 4vw;
        transform: translateX(4vw);
        transition: all linear 1000ms;
    }
    &-checked {
        @include price-and-checked-position(0, center);
        font-size: 1.4rem;
        color: white;
        background-color: $color-tertiary;
        transform: translateX(17vw);
        transition: all linear 1000ms;

        & .icon {
            transform: rotate(0deg);
            transition: all linear 1000ms 320ms;
        }
    }
    @include tablet-only {
        &-description {
            padding: 2vw 0 2vw 3vw;
        }
        &-price {
            padding: 2vw 2vw;
            transform: translateX(0vw);
        }
        &-title {
            margin-bottom: 0.5vw;
        }
    }
    @include desktop-only {
        &-description {
            padding: 1vw 0 1vw 2vw;
        }
        &-price {
            padding: 1vw 1vw;
        }
        &-checked {
            transform: translateX(5vw);
        }
    }
}
