/* .header-logo-arrow-back {
    color: black;
    position: absolute;
} */

.menu {
    background-color: $color-background;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 8vw 6vw;
    transform: translateY(-14vw);
    margin-bottom: -14vw;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8vw;
    }
    @include tablet-only {
        padding: 4vw 6vw 7vw;
        &-header {
            margin-bottom: 4vw;
        }
    }
}

/* .restaurant-name {
    font-weight: lighter;
    font-size: 2.1rem;
} */

.title {
    font-size: 1.7rem;
    @include tablet-only {
        font-size: 2.5rem;
    }
}

.restaurant-heart {
    padding-top: unset;
}

.sections-plats {
    @include tablet-only {
        margin-bottom: 4vw;
    }
}

.plat {
    margin-bottom: 10vw;
    &-title {
        text-transform: uppercase;
        margin-bottom: 3vw;
        & h2 {
            font-weight: 300;
            &::after {
                content: "";
                border-bottom: 3px solid #99e2d0;
                display: block;
                padding-top: 2vw;
                width: 11vw;
            }
        }
    }
    @include tablet-only {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2vw;
        &-title {
            margin: 1vw 0 2vw 0
        }
    }
}

.card-plat {
    @include card;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    &-description {
        width: 66vw;
        padding: 4vw 0 3vw 4vw;
        overflow: hidden;
    }
    &-title {
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 2vw;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-accompaniment {
        font-weight: 200;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-price {
        @include price-and-checked-position(17vw, flex-end);
        font-weight: 500;
        /* transform: translateX(8vw); */
        transition: all 1000ms;
        padding: 4vw 4vw;
    }
    &-checked {
        @include price-and-checked-position(0, center);
        font-size: 1.4rem;
        color: white;
        background-color: $color-tertiary;
        transform: translateX(17vw);
        /* transform: scale(0vw); */
        transition: all 1000ms;

        & .icon {
            transform: rotate(0deg);
            transition: all 1000ms 320ms;
        }
    }
    @include tablet-only {
        margin-bottom: 2vw;
        &-description {
            padding: 2vw 0 2vw 3vw;
        }
        &-price {
            padding: 2vw 2vw;
        }
        &-title {
            margin-bottom: .5vw;
        }
    }
}
